# Regla que dice si un directorio es un enlace simbólico, que lo siga.
Options +FollowSymLinks
# Regla donde le decimos a Apache que queremos sobre escribir las URLs para crear URLs amigables.
RewriteEngine on

# Regla de reescritura: RewriteRule ^url-amigable-aqui$ url-no-amigable-va-aqui.php



# MEJORAR EXPRESIONES REGULARES
RewriteRule ^(home|movies|books|music)$ index.php?ruta=$1
RewriteRule ^(singleBook|singleMovie|singleDisc)/([0-9]+)$ index.php?ruta=$1&id=$2
RewriteRule ^(addMovie|addBook|addDisc)$ index.php?ruta=$1
RewriteRule ^(updateBook|updateMovie|updateDisc)/([0-9]+)$ index.php?ruta=$1&id=$2
